<font size=5> **국내 데이터** </font>  
- FinanceDataReader  : 주가데이터외에 거래소별(KRX, NASDAQ, NYSE 등) 전체 종목 코드 제공(pykrx, pandas_datareader, yfinance 지원안함). pandas-datareader 를 대체하기 보다 보완하기 위한 목적으로 만들어졌다.  
- pykrx  : 특정일자의 상장종목 리스트 조회 기능을 제공.  
- pandas_datareader (naver API)    
- yfinance  :  미국 주식 데이터는 정확하지만 국내 주식 데이터는 불안정

In [2]:
#! pip install -U finance-datareader  # For FinanceDataReader 
# jupyter notebook 시행 env에서 설치됨. kernel 변경으로 env 변경 안됨.

In [3]:
#! pip install pykrx

In [4]:
#! pip install yfinance

In [5]:
import FinanceDataReader as fdr

from pykrx import stock

import pandas_datareader.data as pdr

import yfinance as yf

start_date = '2020-01-01'
end_date = '2021-01-01'

In [6]:
fdr.__version__

'0.9.90'

### FinanceDataReader   
국내 및 해외의 주식 데이터를 불러올 수 있다.   
거래소별 전체 종목 코드와 가격 데이터도 제공.

In [7]:
dir(fdr)

['DataReader',
 'EtfListing',
 'SnapDataReader',
 'StockListing',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_utils',
 'chart',
 'data',
 'ecos',
 'fred',
 'investing',
 'krx',
 'nasdaq',
 'naver',
 'plot',
 'wikipedia',
 'yahoo']

In [8]:
df_fdr = fdr.DataReader('005930', start=start_date, end=end_date)
df_fdr

             Open   High    Low  Close    Volume    Change
Date
2020-01-02  55500  56000  55000  55200  12993228 -0.010753
2020-01-03  56000  56600  54900  55500  15422255  0.005435
2020-01-06  54900  55600  54600  55500  10278951  0.000000
2020-01-07  55700  56400  55600  55800  10009778  0.005405
2020-01-08  56200  57400  55900  56800  23501171  0.017921
...           ...    ...    ...    ...       ...       ...
2020-12-23  72400  74000  72300  73900  19411326  0.022130
2020-12-24  74100  78800  74000  77800  32502870  0.052774
2020-12-28  79000  80100  78200  78700  40085044  0.011568
2020-12-29  78800  78900  77300  78300  30339449 -0.005083
2020-12-30  77400  81300  77300  81000  29417421  0.034483

[248 rows x 6 columns]

### pykrx   
네이버 금융 사이트와 한국거래소 krx 사이트에서 크롤링하여 데이터를 수집합니다.  
한국 증권 사이트에서 데이터를 수집하기 때문에 yfinance에서 수집한 국내 주식 시세보다 신뢰성이 높습니다.  
하지만 yfinance와는 달리 국내 주식 데이터만 수집

In [9]:
df_pykrx = stock.get_market_ohlcv_by_date(
    fromdate=start_date, todate=end_date, ticker="005930")
df_pykrx

               시가     고가     저가     종가       거래량       등락률
날짜
2020-01-02  55500  56000  55000  55200  12993228 -1.075269
2020-01-03  56000  56600  54900  55500  15422255  0.543478
2020-01-06  54900  55600  54600  55500  10278951  0.000000
2020-01-07  55700  56400  55600  55800  10009778  0.540541
2020-01-08  56200  57400  55900  56800  23501171  1.792115
...           ...    ...    ...    ...       ...       ...
2020-12-23  72400  74000  72300  73900  19411326  2.213001
2020-12-24  74100  78800  74000  77800  32502870  5.277402
2020-12-28  79000  80100  78200  78700  40085044  1.156812
2020-12-29  78800  78900  77300  78300  30339449 -0.508259
2020-12-30  77400  81300  77300  81000  29417421  3.448276

[248 rows x 6 columns]

In [10]:
# Naver Finance  provides Korean stock market (KOSPI, KOSDAQ) historical data.

### pandas_datareader 
주식뿐만 아니라 여러 통계 데이터들을 가져올 수 있는 api를 제공하는 강력한 모듈

In [11]:
df_pdr = pdr.DataReader('005930', 'naver', start=start_date, end=end_date)
df_pdr

             Open   High    Low  Close    Volume
Date
2020-01-02  55500  56000  55000  55200  12993228
2020-01-03  56000  56600  54900  55500  15422255
2020-01-06  54900  55600  54600  55500  10278951
2020-01-07  55700  56400  55600  55800  10009778
2020-01-08  56200  57400  55900  56800  23501171
...           ...    ...    ...    ...       ...
2020-12-23  72400  74000  72300  73900  19411326
2020-12-24  74100  78800  74000  77800  32502870
2020-12-28  79000  80100  78200  78700  40085044
2020-12-29  78800  78900  77300  78300  30339449
2020-12-30  77400  81300  77300  81000  29417421

[248 rows x 5 columns]

### yfinance 
야후 파이낸스에서 크롤링한 데이터를 제공하는 라이브러리입니다.  
 
재무제표, 주주정보 등 수집하기 어려운 다양한 데이터를 수집할 수 있습니다.  
 
하지만 야후 파이낸스 특성상 미국 주식 데이터는 정확하지만 국내 주식 데이터는 불안정

- period	조회 기간,  1d, 5d, 1mo, 3mo, 6mo, 1y, 2y, 5y,1 0y, ytd, max,  오늘부터 과거까지의 기간, 생략하면 max 값이 default  
- interval	일/주/월/분기 봉 등과  1분/2분/5분/15분/30분/60분/90분 봉, 생략하면 '1d'가 default

#### yf.download()

In [12]:
name = '005930.KS'
df = yf.download(name, period='5y')  # 5년전 과거 부터 오늘까지. 
df = yf.download(name, start='2022-01-01', end='2022-06-30')
df

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

               Open     High      Low    Close     Adj Close    Volume
Date
2022-01-04  78800.0  79200.0  78300.0  78700.0  75235.242188  12427416
2022-01-05  78800.0  79000.0  76400.0  77400.0  73992.453125  25470640
2022-01-06  76700.0  77600.0  76600.0  76900.0  73514.476562  12931954
2022-01-07  78100.0  78400.0  77400.0  78300.0  74852.843750  15163757
2022-01-10  78100.0  78100.0  77100.0  78000.0  74566.039062   9947422
...             ...      ...      ...      ...           ...       ...
2022-06-23  57700.0  58000.0  56800.0  57400.0  55156.597656  28338608
2022-06-24  57900.0  59100.0  57700.0  58400.0  56117.515625  23256103
2022-06-27  59000.0  59900.0  58300.0  58800.0  56501.886719  18122236
2022-06-28  59200.0  59500.0  58700.0  59400.0  57078.433594  13540538
2022-06-29  58500.0  58800.0  58000.0  58000.0  56073.937500  14677138

[118 rows x 6 columns]

#### yf.Ticker()

In [13]:
#ticker = yf.Ticker('005930.KS')   # 삼성전자  
ticker = yf.Ticker('AAPL')
ticker.history(interval='1d', start=start_date,
               end=end_date, actions=True)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-01-02 00:00:00-05:00,72.059651,73.120214,71.804244,73.059402,135480400,0.0,0.0
2020-01-03 00:00:00-05:00,72.281027,73.115365,72.122918,72.349136,146322800,0.0,0.0
2020-01-06 00:00:00-05:00,71.463716,72.964549,71.210736,72.925629,118387200,0.0,0.0
2020-01-07 00:00:00-05:00,72.935354,73.193196,72.361293,72.582649,108872000,0.0,0.0
2020-01-08 00:00:00-05:00,72.283469,74.054311,72.283469,73.750252,132079200,0.0,0.0
...,...,...,...,...,...,...,...
2020-12-24 00:00:00-05:00,128.876551,130.976731,128.660643,129.514450,54930100,0.0,0.0
2020-12-28 00:00:00-05:00,131.496863,134.784521,131.025784,134.146622,124486200,0.0,0.0
2020-12-29 00:00:00-05:00,135.481343,136.207564,131.840367,132.360504,121047300,0.0,0.0
2020-12-30 00:00:00-05:00,133.057326,133.459701,130.917881,131.231934,96452100,0.0,0.0
2020-12-31 00:00:00-05:00,131.585205,132.232928,129.269117,130.221069,99116600,0.0,0.0

In [14]:
dir(ticker)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_analysis',
 '_data',
 '_download_options',
 '_earnings',
 '_earnings_dates',
 '_expirations',
 '_fast_info',
 '_fetch_ticker_tz',
 '_financials',
 '_fundamentals',
 '_get_ticker_tz',
 '_holders',
 '_isin',
 '_lazy_load_price_history',
 '_news',
 '_options2df',
 '_price_history',
 '_quote',
 '_shares',
 '_tz',
 '_underlying',
 'actions',
 'analyst_price_target',
 'balance_sheet',
 'balancesheet',
 'basic_info',
 'calendar',
 'capital_gains',
 'cash_flow',
 'cashflow',
 'dividends',
 'earnings',
 'earnings_dates',
 'earnings_forecasts',
 'earnings_trend',
 'fast_info',
 'financials',
 'get_actions',
 'get_analyst_price_target',
 'get_balance_sheet',
 'get_balancesheet',
 'get_calendar',
 'get_capital_gains',
 'get_cash_flow',
 'get_cashflow',
 'get_dividends',
 'get_earnings',
 'get_earnings_dates',
 'get_earnings_forecast',
 'get_earnings_trend',
 'get_fast_info',
 'get_financials',
 'get_history_metadata',
 'get_income_stmt',
 'get_incomestmt',
 'get_info',
 'get_insider_purchases',
 'get_insider_roster_holders',
 'get_insider_transactions',
 'get_institutional_holders',
 'get_isin',
 'get_major_holders',
 'get_mutualfund_holders',
 'get_news',
 'get_recommendations',
 'get_recommendations_summary',
 'get_rev_forecast',
 'get_shares',
 'get_shares_full',
 'get_splits',
 'get_sustainability',
 'get_trend_details',
 'get_upgrades_downgrades',
 'history',
 'history_metadata',
 'income_stmt',
 'incomestmt',
 'info',
 'insider_purchases',
 'insider_roster_holders',
 'insider_transactions',
 'institutional_holders',
 'isin',
 'major_holders',
 'mutualfund_holders',
 'news',
 'option_chain',
 'options',
 'proxy',
 'quarterly_balance_sheet',
 'quarterly_balancesheet',
 'quarterly_cash_flow',
 'quarterly_cashflow',
 'quarterly_earnings',
 'quarterly_financials',
 'quarterly_income_stmt',
 'quarterly_incomestmt',
 'recommendations',
 'recommendations_summary',
 'revenue_forecasts',
 'session',
 'shares',
 'splits',
 'sustainability',
 'ticker',
 'trend_details',
 'upgrades_downgrades']

In [15]:
# e.g. 삼성전자 : NA
financials = ticker.financials # 재무제표
major_holders = ticker.major_holders # 주식 보유 지분

404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/?modules=institutionOwnership%2CfundOwnership%2CmajorDirectHolders%2CmajorHoldersBreakdown%2CinsiderTransactions%2CinsiderHolders%2CnetSharePurchaseActivity&corsDomain=finance.yahoo.com&symbol=AAPL&formatted=false&crumb=P6gpBU8UQHD

#### pandas_datareade.get_data_yahoo


- yfinance를 설치 한 다음에 pandas_datareader와 yfinance를 가져옵니다.  
- pdr에 yf의 메서드를 재정의(override)해줍니다.  
- pd.get_data_yahoo 메서드를 통해 특정 주식의 시세 데이터를 가져옵니다.

In [16]:
yf.pdr_override()   # pdr에 yf의 메서드를 재정의(override)해줍니다.

In [17]:
df = pdr.get_data_yahoo("005930.KS", "2022-02-21", "2023-02-20")

[*********************100%%**********************]  1 of 1 completed

In [18]:
df

               Open     High      Low    Close     Adj Close    Volume
Date
2022-02-21  74300.0  74300.0  74300.0  74300.0  71028.937500         0
2022-02-22  74300.0  74300.0  74300.0  74300.0  71028.937500         0
2022-02-23  74300.0  74300.0  74300.0  74300.0  71028.937500         0
2022-02-24  72300.0  72300.0  71300.0  71500.0  68352.203125  15759283
2022-02-25  72100.0  72600.0  71900.0  71900.0  68734.593750  13168484
...             ...      ...      ...      ...           ...       ...
2023-02-13  62900.0  63000.0  62300.0  62900.0  61611.878906     59395
2023-02-14  63600.0  63900.0  63200.0  63200.0  61905.730469     70606
2023-02-15  63900.0  63900.0  62000.0  62200.0  60926.214844     58370
2023-02-16  62500.0  63700.0  62400.0  63700.0  62395.496094     41448
2023-02-17  62900.0  63300.0  62400.0  62600.0  61318.023438     28613

[246 rows x 6 columns]